<div class="body__content">
  <div class="body__content-name">Yohei</div>
  <div class="body__content-time">2018/12/19 12:50:49</div>
  <div class="body__content-text">テキストテキストテキストテキストテキスト</div>
</div>