/*左下グループ*/
.group{
  background-color: #253141;
  height: 85%;
  position: relative;
  width: 100%;
  /*グループのリスト*/
  .link{
    display: block;
    &__content{
      padding: 10%;
      color: #eee;
      text-decoration: none;
      &-name{
        margin: 0;
        padding: 0;
        font-size: 13px;
        list-style: none;
      }
      &-text{
        font-size: 7px;
      }
    }
  }
}