/*左側のボックス*/
.leftbox{
  height: 100%;
  width: 21%;
  float: left;
  a{
  text-decoration: none;
  color: inherit;
  }
}

/*ユーザー（上の）ボックス*/
.user {
  height: 15%;
  position: relative;
  color: white;
  background-color: black;

/*ユーザーコンテンツ*/
    &__content {
    height: 50px;
    width: 100%;
    line-height: 50px;
    position: relative;
    top: 35px;
    color: white;
    
    /*名前*/
    &-name {
      display: inline-block;
      padding: 0 10px;
      font-weight: bold;
      font-size: 20px;
    }
    /*新規グループ*/
    &-newgroup{
    background-color: green;
    display: inline-block;
    position: relative;
    margin-left: 40px;
    
    }
    /*ユーザー編集*/
    &-edituser{
    background-color: yellow;
    display: inline-block;
    }
  }
}





/*左下グループ*/
.group{
  background-color: #253141;
  height: 85%;
  width: 100%;
  color: white;
}
/*グループのリスト*/
.group__list{
  padding: 20px;
}

.group__list-groupName{
  list-style: none;
  margin: 0;
  font-size: 13px;
  padding: 0;
}

.group__list-text{
  font-size: 7px;
}


