.footer{
  height: 12%;
  width: 100%;
  background-color: #B8C3C7;
  
  &__form{
    position: relative;
    top: 25%;
    
    &-text{
      height: 50px;  
      width: 80%;
      margin-left: 4%;
      padding-left: 2%;
    }
    
    &-chatfile{
      height: 40%;
      width: 2%;
      margin-top: 1.5%;
      position: relative;
      top: 0;
      right: 50px;
      
      
      &-image{
        display: none;
        border: solid 1px black;
        
        
      }
    }
    
    &-send{
      background-color: #38AEF0;
      border: none;
      height: 50px;
      width: 100px;
      margin-left: 3% ;
      color: white;
      
    }
  }
}