/*左側のボックス*/
.leftbox{
  height: 100%;
  width: 21%;
  float: left;
  
  .fa-cog:before {
  content: "\f013";
}
}

/*ユーザー（上の）ボックス*/
.userside {
  height: 15%;
  position: relative;
  color: white;
  background-color: #090c10;


/*ユーザーコンテンツ*/
  .content {
    height: 50px;
    width: 100%;
    line-height: 50px;
    position: relative;
    top: 35px;
    
    /*名前*/
    &__name {
      display: inline-block;
      padding: 0 10px;
      font-weight: bold;
      font-size: 20px;
    }
    /*新規グループ*/
    &__newgroup{
      display: inline-block;
      position: relative;
      margin-left: 90px;
      color: #fff;
      .fa fa-edit{
        color: #fff;
      }
    }
    /*ユーザー編集*/
    &__edituser{
      display: inline-block;
      color: #fff;
      .fa fa-cog{
        color: #fff;
      }
    }
  }
}